@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

input{
  color: black
}

input{
  @apply shadow-md;
}


.primary-btn{ 
  @apply  p-3 text-white rounded-lg transition-all duration-300 bg-dark/80 shadow-lg;
}

.item{
  @apply p-2 py-1 text-sm border rounded-md cursor-pointer border-gray-300 hover:text-white hover:bg-dark/80 transition-all duration-100 shadow-xl
}

.primary-layout {
  @apply bg-gradient-to-b from-gray-100 to-gray-100  dark:from-[#1a202c] dark:to-[#000000] dark:text-white;
}


#titlebar {
    -webkit-app-region: drag; /* Enable window dragging */
    height: 30px;
    background: #18181b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  .controls button {
    -webkit-app-region: no-drag;
    background: none; 
    border: none;
    margin-left: 5px;
    cursor: pointer;
  }